 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
         <nav>
        <%= link_to "Learning Template", root_path, id: "logo" %>
       
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Intro",   intro_path %></li>
            <li><%= link_to "contact",   contact_path %></li>
            <li><%= link_to "Log in", "#" %></li>
            
          </ul>
         
        </nav>
      </div>
    </header>